In [ ]:
# (i) Create a list of  10 Students, do all operations addition,remove, change elements in the list.
list1 = ["Rahul","Abhishek","Salman","Sanskar","Aamir","keshav","Garvit","Zohan","vikas","Aadesh"]
list1.append("Prateek")
print(list1)

['Rahul', 'Abhishek', 'Salman', 'Sanskar', 'Aamir', 'keshav', 'Garvit', 'Zohan', 'vikas', 'Aadesh', 'Prateek']

In [ ]:
list1 = ["Rahul","Abhishek","Salman","Sanskar","Aamir","keshav","Garvit","Zohan","vikas","Aadesh"]
list1.remove("Garvit")
print(list1)

['Rahul', 'Abhishek', 'Salman', 'Sanskar', 'Aamir', 'keshav', 'Zohan', 'vikas', 'Aadesh']

In [ ]:
list1 = ["Rahul","Abhishek","Salman","Sanskar","Aamir","keshav","Garvit","Zohan","vikas","Aadesh"]
list1[0] = "Prateek"
print(list1)

['Prateek', 'Abhishek', 'Salman', 'Sanskar', 'Aamir', 'keshav', 'Garvit', 'Zohan', 'vikas', 'Aadesh']

In [ ]:
list1 = ["Rahul","Abhishek","Salman","Sanskar","Aamir","keshav","Garvit","Zohan","vikas","Aadesh"]
list1.insert(5,"Prateek")
print(list1)

['Rahul', 'Abhishek', 'Salman', 'Sanskar', 'Aamir', 'Prateek', 'keshav', 'Garvit', 'Zohan', 'vikas', 'Aadesh']

In [ ]:
list1 = ["Rahul","Abhishek","Salman","Sanskar","Aamir","keshav","Garvit","Zohan","vikas","Aadesh"]
list1.extend(["Prateek"])
print(list1)

['Rahul', 'Abhishek', 'Salman', 'Sanskar', 'Aamir', 'keshav', 'Garvit', 'Zohan', 'vikas', 'Aadesh', 'Prateek']

In [ ]:
list1 = ["Rahul","Abhishek","Salman","Sanskar","Aamir","keshav","Garvit","Zohan","vikas","Aadesh"]
list1.pop(5)
print(list1)

['Rahul', 'Abhishek', 'Salman', 'Sanskar', 'Aamir', 'Garvit', 'Zohan', 'vikas', 'Aadesh']

In [ ]:
list1 = ["Rahul","Abhishek","Salman","Sanskar","Aamir","keshav","Garvit","Zohan","vikas","Aadesh"]
list1.clear()
print(list1)

[]

In [ ]:
# (iii) Create a dictionary, do all operations like addition of elements, remove elements, copy items & create nested dictionaries too.
# Step 1: Create a dictionary of students with their marks
students = {"aadesh": 85,"salman": 92,"abhishek": 78,"zohan": 88,"rahul": 90}
print("Original Dictionary:")
print(students)

Original Dictionary:
{'aadesh': 85, 'salman': 92, 'abhishek': 78, 'zohan': 88, 'rahul': 90}

In [ ]:
# Step 2: Add new elements
students["amir"] = 95
students.update({"prateek": 80})
print("After Adding Elements:")
print(students)

After Adding Elements:
{'aadesh': 85, 'salman': 92, 'abhishek': 78, 'zohan': 88, 'rahul': 90, 'amir': 95, 'prateek': 80}

In [ ]:
# Step 3: Change (update) an element
students["abhishek"] = 82
print("After Changing Kabir's Marks:")
print(students)

After Changing Kabir's Marks:
{'aadesh': 85, 'salman': 92, 'abhishek': 82, 'zohan': 88, 'rahul': 90, 'amir': 95, 'prateek': 80}

In [ ]:
# Step 4: Remove elements
students.pop("prateek")
removed_item = students.popitem()
print("After Removing Elements:")
print(students)
print("Removed Item:", removed_item)

After Removing Elements:
{'aadesh': 85, 'salman': 92, 'abhishek': 82, 'zohan': 88, 'rahul': 90}
Removed Item: ('amir', 95)

In [ ]:
# Step 5: Copy dictionary
students_copy = students.copy()
print("Copied Dictionary:")
print(students_copy)

Copied Dictionary:
{'aadesh': 85, 'salman': 92, 'abhishek': 82, 'zohan': 88, 'rahul': 90}

In [ ]:
# Step 6: Create a nested dictionary
classroom = {"ClassA": {"aadesh": 85,"salman": 88},"ClassB": {"abhishek": 95,"zohan": 80}}
print("classroom:",classroom)

classroom: {'ClassA': {'aadesh': 85, 'salman': 88}, 'ClassB': {'abhishek': 95, 'zohan': 80}}

In [ ]:
# Step 7: Access nested dictionary items
print("Accessing Nested Items:")
print("Marks of abhishek in ClassB:", classroom["ClassB"]["abhishek"])

Accessing Nested Items:
Marks of abhishek in ClassB: 95