***Set = Set items are unordered, unchangeable, and do not allow duplicate values. Sets are used to store multiple items in a single variable. Set items are unchangeable, but you can remove items and add new items.***

***Create Set***

In [1]:
set1 = {1,2,3,4,5,6}
print(set1)

{1, 2, 3, 4, 5, 6}

***Data Type***

In [2]:
type(set1)

set

***Access Items***

In [3]:
set1 = {1,2,3,4,5,6}
print(4 in set1)

True

In [4]:
set2 = {'a','b','c','d','e'}
print('c' in set2)

True

In [1]:
color = {'Red','Green','Grapes','Oranges'}
print('Pink' in color)

False

In [2]:
color = {'Red','Green','Grapes','Oranges'}
print('Green' in color)

True

***Add Set Item***

In [5]:
set2 = {'a','b','c','d','e'}
set2.add(5)
print(set2)

{'d', 5, 'e', 'b', 'c', 'a'}

In [4]:
names = {'Alica','Mehul','Chanchal','Alia','Tony'}
names.add(55)
print(names)

{'Tony', 'Alica', 'Mehul', 55, 'Alia', 'Chanchal'}

In [5]:
fruits = {'Apple','Grapes','Orange','Pine apple'}
fruits.add('Guava')
print(fruits)

{'Guava', 'Orange', 'Apple', 'Grapes', 'Pine apple'}

***Update Method***

In [7]:
set1 = {1,2,3,4,5,6}
set2 = {'a','b','c','d','e'}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 'a', 'b', 'd', 'c', 'e'}

In [9]:
names = {'Alica','Mehul','Chanchal','Alia','Tony'}
fruits = {'Apple','Grapes','Orange','Pine apple'}
names.update(fruits)
print(names)

{'Tony', 'Alica', 'Mehul', 'Orange', 'Apple', 'Grapes', 'Pine apple', 'Alia', 'Chanchal'}

In [8]:
list1 = ['A','B','C']
set1.update(list1)
print(set1)

{1, 2, 3, 4, 5, 6, 'A', 'a', 'b', 'B', 'd', 'C', 'c', 'e'}

***Remove Method***

In [8]:
set2 = {'a','b','c','d','e'}
set2.remove('a')
print(set2)

{'d', 'e', 'b', 'c'}

In [10]:
names = {'Alica','Mehul','Chanchal','Alia','Tony'}
names.remove('Tony')
print(names)

{'Alica', 'Mehul', 'Alia', 'Chanchal'}

In [11]:
num = {45,25,46,78,98,3,4,122,255}
num.remove(25)
print(num)

{98, 3, 4, 45, 46, 78, 122, 255}

***Clear Method***

In [14]:
set2 = {'a','b','c','d','e'}
set2.clear()
print(set2)

set()

In [13]:
names = {'Alica','Mehul','Chanchal','Alia','Tony'}
names.clear()
print(names)

set()

In [14]:
num = {45,25,46,78,98,3,4,122,255}
num.clear()
print(num)

set()

***Delete Method***

In [11]:
del set2

In [16]:
fruits = {'Apple','Grapes','Orange','Pine apple'}
del fruits

***Discard Method***

In [24]:
set2.discard('e')
print(set2)

{'b', 'c', 'd', 'a'}

In [25]:
fruits = {'Apple','Grapes','Orange','Pine apple'}
fruits.discard('Apple')
print(fruits)

{'Grapes', 'Orange', 'Pine apple'}

In [26]:
n = {45,25,654,6,464,5,4,5,4,24,5,45}
n.discard(25)
print(n)

{4, 5, 6, 45, 654, 464, 24}

***Joining set Union method***

In [17]:
set1 = {1,2,3,4,5,6}
set2 = {'a','b','c','d','e'}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 'e', 'd', 'b', 'c', 'a'}

In [27]:
fruits = {'Apple','Grapes','Orange','Pine apple'}
names = {'Alica','Mehul','Chanchal','Alia','Tony'}
n = {45,25,654,6,464,5,4,5,4,24,5,45}
x = fruits.union(names, n)
print(x)

{'Tony', 'Alica', 4, 5, 'Mehul', 6, 'Orange', 'Apple', 45, 654, 464, 'Grapes', 24, 'Pine apple', 'Alia', 'Chanchal', 25}

In [28]:
set1 = {'A','B','C','D','E'}
set2 = {1,2,3,4,5}
set3 = {'Red','Green','Orange','Pink','Black'}
set4 = {455,789,254,365,456}
set5 = set1.union(set2, set3, set4)
print(set5)

{1, 2, 3, 'A', 4, 5, 455, 456, 'Red', 'B', 789, 'E', 'Green', 'Pink', 'D', 'Orange', 365, 'Black', 'C', 254}

***| Operator***

In [19]:
set1 = {1,2,3,4,5,6}
set2 = {'a','b','c','d','e'}
set3 = set1|set2
print(set3)

{1, 2, 3, 4, 5, 6, 'e', 'd', 'b', 'c', 'a'}

In [30]:
fruits = {'Apple','Grapes','Orange','Pine apple'}
names = {'Alica','Mehul','Chanchal','Alia','Tony'}
n = {45,25,654,6,464,5,4,5,4,24,5,45}
x = fruits|names|n
print(x)

{'Tony', 'Alica', 4, 5, 'Mehul', 6, 'Orange', 'Apple', 45, 654, 464, 'Grapes', 24, 'Pine apple', 'Alia', 'Chanchal', 25}

In [31]:
set1 = {'A','B','C','D','E'}
set2 = {1,2,3,4,5}
set3 = {'Red','Green','Orange','Pink','Black'}
set4 = {455,789,254,365,456}
x = set1|set2|set3|set4
print(x)

{1, 2, 3, 'A', 4, 5, 455, 456, 'Red', 'B', 789, 'E', 'Green', 'Pink', 'D', 'Orange', 365, 'Black', 'C', 254}

***POP Method***

In [3]:
set4 = {"A","B","C","D"}
set4.pop()

'A'

In [36]:
data = {"Papaya","Apple","Grapes"}
data.pop()

'Papaya'

In [32]:
set3 = {'Red','Green','Orange','Pink','Black'}
set3.pop()

'Red'

***Diffrence Method***

In [5]:
set6 = {1,2,3,4,5,7}
set7 = {5,4,7,8}
set6.difference(set7)

{1, 2, 3}

In [38]:
set1 = {'Red','Papaya','Pink','Orange','Grapes','Black','Apple','Green'}
set2 = {'Banana','Apple','Pine apple','Guava'}
set1.difference(set2)
print(set1)

{'Orange', 'Apple', 'Black', 'Red', 'Papaya', 'Grapes', 'Green', 'Pink'}

***Inter section***

In [6]:
set2 = {1,2,3,4,5,6}
set4 = {1,2,"A","B"}
set2.intersection(set4)

{1, 2}

In [39]:
set1 = {'Red','Papaya','Pink','Orange','Grapes','Black','Apple','Green'}
set2 = {'Banana','Apple','Pine apple','Guava'}
set1.intersection(set2)
print(set1)

{'Orange', 'Apple', 'Black', 'Red', 'Papaya', 'Grapes', 'Green', 'Pink'}

***Copy Method***

In [8]:
set5 = {"A","B","C","D"}
set5.copy()

{'A', 'B', 'C', 'D'}

In [ ]:
set1 = {'Red','Papaya','Pink','Orange','Grapes','Black','Apple','Green'}
set